@model GivePromoCodeRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit PromoCode</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PromoCode" class="control-label"></label>
                <input asp-for="PromoCode" class="form-control"/>
                <span asp-validation-for="PromoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceInfo" class="control-label"></label>
                <input asp-for="ServiceInfo" class="form-control"/>
                <span asp-validation-for="ServiceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginDate" class="control-label"></label>
                <input asp-for="BeginDate" class="form-control"/>
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <select name="PartnerId" class="form-select">
                    @foreach (var item in Model.Employees)
                    {
                        <option name="PartnerId" value="@item.Id.ToString()">
                            @item.FullName
                        </option>
                    }
                </select>
                <span asp-validation-for="PartnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferenceId" class="control-label"></label>
                <select name="PreferenceId" class="form-select">
                    @foreach (var item in Model.Preferences)
                    {
                        <option name="PreferenceId" value="@item.Id.ToString()">
                            @item.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="PreferenceId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}